<ion-view view-title="Detalle">
  <ion-content>
    <h2>{{cotizacion.publicacion.productoservicio.nombre}}</h2>
    <div class="row">
      <div class="col">Fecha:</div>
      <div class="col">{{cotizacion.fecha}}</div>
    </div>
    <div class="row">
      <div class="col">Total:</div>
      <div class="col">${{cotizacion.total}}</div>
    </div>
    <div class="row">
      <div class="col">Descripcion:</div>
      <div class="col">{{cotizacion.publicacion.descripcion}}</div>
    </div>
    <div ng-if="usuario.idtipousuario == 1 || usuario.idtipousuario == 2">
      <div class="row">
        <div class="col">Empresa:</div>
        <div class="col">{{cotizacion.publicacion.empresa.nombre}}</div>
      </div>
      <div class="row">
        <div class="col">Rut:</div>
        <div class="col">{{cotizacion.publicacion.empresa.rut}}</div>
      </div>
      <div class="row">
        <div class="col">Correo:</div>
        <div class="col">{{cotizacion.publicacion.empresa.correo}}</div>
      </div>
      <div class="row">
        <div class="col">Pagina Web:</div>
        <div class="col">{{cotizacion.publicacion.empresa.paginaweb}}</div>
      </div>
    </div>
    <div ng-if="usuario.idtipousuario != 1 && usuario.idtipousuario != 2">
      <div class="row">
        <div class="col">Nombre:</div>
        <div class="col">{{cotizacion.usuario.nombre}}</div>
      </div>
      <div class="row">
        <div class="col">Rut:</div>
        <div class="col">{{cotizacion.usuario.rut}}</div>
      </div>
      <div class="row">
        <div class="col">Correo:</div>
        <div class="col">{{cotizacion.usuario.correo}}</div>
      </div>
      <div class="row">
        <div class="col">N°Telefonico:</div>
        <div class="col">{{cotizacion.usuario.numerotelefono}}</div>
      </div>
    </div>
  </ion-content>
</ion-view>
