<ion-view view-title="Home">
  <ion-content class="padding">
      <ion-header>
      <!--Searchbar-->
      <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="Search">
        </label>
        <button class="button button-dark">
          Cancel
          </button>
      </div>
      <br>
      <!--Filtros-->
          <div class="botondiv">
                    <a class="button boton">Nombre</a>
                    <a class="button boton">Calificación</a>
                    <a class="button boton">Precio</a>
                    <a class="button boton">Tipo</a>
          </div>
      </ion-slide-box>
    </ion-header>
    <!--Slide box for top 10 vip-->
    <ion-slide-box on-slide-changed="slideHasChanged($index)">
      <ion-slide ng-repeat='img in listImg'>
        <div class="item item-image">
          <img src="{{img.ruta}}">
        </div>
      </ion-slide>
    </ion-slide-box>
    <!--El resto de las publicaciones-->
    <div class="list card" ng-repeat='publicacion in publicacionesList'>
      <div class="item item-avatar">
        <img src="../img/perry.png">
        <h2>{{publicacion.productoservicio.nombre}}</h2>
        <p>{{publicacion.empresa.nombre}}</p>
        <p>calificación</p>
      </div>
      <div class="item item-body" ng-click='ir_a(publicacion)'>
        <!-- <img width="40%" src="{{publicacion.ruta}}" style="float: left;"> -->
        <img width="40%" src="../img/imagen-de-prueba.jpg" style="float: left;">
        <p style="text-aling: right;">
          {{publicacion.descripcion}}
        </p>
    </div>
  </div>
  </ion-content>
</ion-view>
