<ion-view view-title="Home">
  <ion-content class="padding">
      <ion-header>
      <!--Searchbar-->
      <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input ng-model="filtro" type="search" ng-change="crearFiltro(filtro)" placeholder="Buscar">
        </label>
      </div>
      <!--Filtros-->
      <label class="item item-input item-select">
        <div class="input-label">
          Ordenar por:<br>
          <select>
            <option ng-click="ordenar(publicacionesList,'nombre')">Nombre</option>
            <option>Calificación</option>
            <option ng-click="ordenar(publicacionesList,'precio')">Precio</option>
            <option>Tipo</option>
          </select>
        </div>
      </label>
    </ion-header>
    <!--Slide box for top 10 vip-->
    <ion-slide-box on-slide-changed="slideHasChanged($index)">
      <ion-slide ng-repeat='img in listImg'>
        <div class="item item-image">
          <img width="50%" height="50%" src="{{img.ruta}}">
        </div>
      </ion-slide>
    </ion-slide-box>
    <!--El resto de las publicaciones-->
    <div class="list card" ng-repeat='publicacion in publicacionesList | filter:filtrar'>
      <div class="item item-avatar">
        <img src="../img/perry.png">
        <h2>{{publicacion.productoservicio.nombre}}</h2>
        <p>{{publicacion.empresa.nombre}}</p>
        <p>Precio: ${{publicacion.productoservicio.precio}}</p>
      </div>
      <div class="item item-body" ng-click='ir_a(publicacion)'>
        <!-- <img width="40%" src="{{publicacion.ruta}}" style="float: left;"> -->
        <img width="40%" src="../img/imagen-de-prueba.jpg" style="float: left;">
        <p style="text-aling: right;">
          {{publicacion.descripcion}}
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
