<ion-view view-title="Perfil">
  <ion-content>
    <a class="item item-avatar" href="#">
      <img src="../img/perry.png">
      <h2>{{user.nombre}}</h2>
    </a>
    <br>
    <div>
      Nombre empresa:   {{user.empresa.nombre}}<br>
      Correo electronico:   {{user.correo}}<br>
      Dirección:   {{user.direccion}}<br>
      N° telefonico:   {{user.numerotelefono}}<br>
      Rut:   {{user.rut}}<br>
      Página web:   {{user.empresa.paginaweb}}<br>
    </div>
    <br>
    <div>
      <div class="button-bar">
        <a class="button button-icon icon ion-pie-graph" ng-click="irEstadisticas()">
          Estadisticas
          <ion-nav-view name="tab-estadisticas"></ion-nav-view>
        </a>
        <a class="button button-icon icon ion-fork" ng-click="irMenu()">
          Menú
          <ion-nav-view name="tab-menu"></ion-nav-view>
        </a>
      </div>
      <a class="button button-block button-icon icon ion-ios-cart" ng-click="irProductosServicios()">
        Productos/Servicios
        <ion-nav-view name="tab-productosServicios"></ion-nav-view>
      </a>
      <a class="button button-block button-icon icon ion-ios-home" ng-click="irLocal()">
        Establecimiento
        <ion-nav-view name="tab-local"></ion-nav-view>
      </a>
      <a class="button button-block button-icon icon ion-help" ng-click="irPreguntasGenerales()">
        Preguntas generales
        <ion-nav-view name="tab-preguntasGenerales"></ion-nav-view>
      </a>
      <a class="button button-icon icon ion-android-favorite" ng-click="irFavoritos()">
        Favoritos
        <ion-nav-view name="tab-favoritos"></ion-nav-view>
      </a>
      <a class="button button-icon icon ion-cash" ng-click="irPagos()">
        Pagos
        <ion-nav-view name="tab-pagos"></ion-nav-view>
      </a>
      <a class="button button-icon icon ion-bag" ng-click="irCotizaciones()">
        Cotizaciones
        <ion-nav-view name="tab-cotizaciones"></ion-nav-view>
      </a>
      <br>
      </div>
      </div>
      <a class="button button-icon icon ion-log-out" ng-click="logOut()">Cerrar sesión</a>
    </div>
  </ion-content>
</ion-view>
