<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <!-- Dashboard Tab -->
  <ion-tab title="Inicio de secion" icon-off="ion-person" icon-on="ion-person" ng-click="login()">
  </ion-tab>

  <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Top 10" icon-off="ion-ios-star-outline" icon-on="ion-ios-star" href="#/tab/top10">
    <ion-nav-view name="tab-top10"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Terminos y condiciones de uso" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" href="#/tab/terminosycondiciones">
    <ion-nav-view name="tab-terminosycondiciones"></ion-nav-view>
  </ion-tab>


</ion-tabs>
