<ion-view view-title="Terminos y condiciones de uso">
  <ion-content>
    <h4>En Santiago de Chile, a 19 de diciembre del 2017, la  empresa Aljo's Service, representada en este acto por su representante legal Alejandro Albornoz, RUT: 19.173.800-4 domiciliado en esta ciudad, Garrido 13540, Comuna de Lo Barnechea.</h4>
<h4>Al utilizar los Servicios de Aljo's Service, usted acepta estas condiciones. Le rogamos que las lea detenidamente.</h4>

<H2>Derecho de autor</h2>

<h4>Todo contenido alojado o puesto a disposición a través de cualquiera de los servicios de Aljo's Service , como por ejemplo texto, gráficos, logotipos, iconos de botones, imágenes, clips de audio, descargas digitales, y recopilaciones de datos son propiedad de Aljo's Service o de sus proveedores de contenido (usuarios) y está protegido por las leyes internacionales de propiedad intelectual.</h4>

<h2>Tarifa para publicación de producto y/o servicio</h2>
<h4>Se le cobrará un 5% del precio de la cotización, en el caso de escoger VIP un 3% extra del precio de la cotización y si también desea agregar un video a su publicación se sumará un 1% extra del precio de la cotización.</h4>
<h2>Licencia y acceso</h2>
<h4>Sujeto al cumplimiento por parte de usted de estas condiciones de uso así como al pago del precio aplicable, en su caso, Aljo's Service le concede una licencia limitada no exclusiva, no transferible y no sub-licenciable, de acceso y utilización, a los Servicios de Aljo's Service para fines personales y comerciales.</h4>

<h2>Su cuenta</h2>
<h4>Cuando usted utiliza los servicios de Aljo's es usted responsable de mantener la confidencialidad de los datos de su cuenta y su contraseña, así como de restringir el acceso a su computadora o aparatos electrónicos, y usted asume la responsabilidad de cualquier actividad realizada desde su cuenta o utilizando su contraseña.</h4>

<h2>Publicaciones, Opiniones y comentarios.</h2>
<h4>Los usuarios podrán publicar sus opiniones, comentarios, fotografías, y otros contenidos; y someter sugerencias, ideas, comentarios, preguntas u otra información, siempre que el contenido de las mismas no resulte ilícito, obsceno, amenazante, difamatorio, invasivo de privacidad, infrinja derechos de propiedad intelectual o de cualquier otra forma resulte ofensivo para terceros o censurable, ni consista en o contenga malware (virus, troyanos, gusanos, adware, etc.), propaganda política o contenido publicitario, correos en cadena, envío masivo de correos o constituya cualquier otro tipo de "spam". No está permitido el uso de direcciones de correo falsas, ni suplantar la identidad de otra persona o entidad, ni falsear de cualquier otro modo el origen de cualquier contenido. Aljo's Service no revisa regularmente el contenido publicado, pero nos reservamos el derecho eliminar dicho contenido.</h4>

<h4>No están permitidas las publicaciones en las que se expresa el deseo o se ofrece comprar artículos.</h4>


<h4>La descripción del artículo o evento publicado solamente puede ser utilizada para explicar, promover, ofrecer y facilitar la publicación del artículo o evento. Se prohíbe incluir vínculos a sitios web destinados al comercio, la publicación o la adquisición de bienes o servicios, o vínculos cuyo propósito no sea uno de los descritos a continuación.</h4>


<h4>Entre los vínculos prohibidos se incluyen los siguientes (aunque sin limitarse a ellos).</h4>

    <h4>-	Enlaces a páginas Web destinadas al comercio o la adquisición de bienes o servicios fuera de Aljo's Service.</h4>
    <h4>-	Enlaces a comunidades virtuales, como foros o blogs, que puedan proveer vías de contacto entre los usuarios fuera de Aljo's Service.</h4>
    <h4>-	Enlaces a sitios o páginas Web que ofrecen mercancía que no está permitida en Aljo's Service o por la ley vigente.</h4>
    <h4>-	Enlaces a sitios que solicitan el apodo o la clave de los compradores.</h4>

<h2>Fotos en Página Principal.</h2>
<h4>No se permitirá en la Página Principal, aquellas publicaciones que contengan imágenes (que a criterio de Aljo's Service sean) provocativas o sensuales o que puedan ser consideradas contrarias a la moral o buenas costumbres.</h4>

<h4>Las fotos o imágenes que aparezcan en la página principal de Aljo's Service deben:</h4>

    <h4>- Corresponder exactamente al artículo o servicio que se ofrece en la publicación y no colocar una fotografías meramente referencial o que puedan inducir a error o confusión al destinatario de la oferta.</h4>
    <h4>- No tener texto o similares.</h4>
    <h4>- Mostrar sólo un artículo, en caso de productos o hacer referencia solamente a lo ofrecido en los servicios.</h4>
    <h4>- No tener datos personales o de contacto.</h4>
    <h4>- Cumplir con cualquier otra disposición prevista en los Términos y Condiciones de la aplicación, así como cualquier otra política.</h4>

<h4>Sin perjuicio de ello, Aljo's Service se reserva el derecho de baja cualquier publicación o imagen en la que considere que hay alguna infracción a las reglas establecidas, a la ley o que considere inapropiada por alguna razón a su entera discreción. Las infracciones de estas normas podrán resultar en la suspensión o inhabilitación de la cuenta del usuario o en la adopción de cualquiera de las medidas previstas en los Términos y Condiciones de la aplicación, así como las demás políticas.<h4>

<h2>Técnicas para eludir la estructura de Tarifas</h2>
<h4>Está prohibido el uso de cualquier mecanismo o técnica destinado a evitar el pago de las tarifas o a disminuir el monto de las mismas, como por ejemplo (y sin limitarse a estos supuestos):</h4>

    <h4>-	Ofrecer en la descripción o comentarios concluir una operación sin realizar la oferta a través de Aljo's Events o por fuera de la plataforma.</h4>
    <h4>-	Ofrecer un artículo a un precio distinto al expresado en la descripción o comentarios.</h4>
    <h4>-	 Artículos publicados a precios bajos pero con un alto costo de envío.</h4>
    <h4>-	Incluir datos personales en las descripciones o títulos, salvo en las excepciones previstas.</h4>
    <h4>-	Ventas de catálogos, listados o manuales, mediante el cual el vendedor ofrece el artículo a un precio bajo o gratuito para obtener los datos del comprador, salvo en aquellos que Aljo's Service expresamente lo autorice.</h4>
    <h4>-	Ofrecer y/o informar en una misma publicación, otros artículos a un precio inferior o diferente, con excepción de aquellos artículos que estén efectivamente publicados en Aljo's Events.</h4>
    <h4>-	Publicaciones que ofrecen presupuestos o cotizaciones posteriores sobre bienes o servicios.</h4>
    <h4>-	Ofrecer un artículo en forma gratuita o a un valor simbólico o precio significativamente menor al valor de mercado, cuando de ello se pueda inferir que hay intención de vender otra cantidad, o a otro precio al establecido o bien para evitar pagar comisiones.</h4>
    <h4>-	Publicación de bienes o servicios destinada a recibir ofertas intencionadas para otro artículo de precio superior que también es ofrecido por el mismo vendedor.</h4>

<h4>Las actividades que eludan o intenten eludir las tarifas de Aljo's Service no están permitidas y se finalizarán y el infractor podrá ser sancionado con la suspensión o cancelación de la cuenta de Aljo's Service.</h4>

<h2>En caso de incumplimiento de la venta o arriendo de artículos o servicios.</h2>

<h4>Aljo's Service responderá a aquellos incumplimientos de parte de un usuario que no haya cumplido lo ofrecido, buscandole a un cliente una alternativa a lo que buscaba sin cubrir el pago. Esto solo será posible si se da aviso a servicio al cliente con al menos un día habil (24 horas) de anticipación.</h4>
  </ion-content>
</ion-view>
