<ion-view view-title="">
  <ion-content class="padding">
    <ion-header>
      <h2>{{publicacion.productoservicio.nombre}}</h2>
      <h5>{{publicacion.empresa.nombre}} <button ng-click="agregar()" class="button icon-left ion-star button-positive">Favoritos</button></h5>
    </ion-header>
    <ion-slide-box on-slide-changed="slideHasChanged($index)">
      <ion-slide ng-repeat='img in listImg'>
        <div class="item item-image">
          <img src="{{img.ruta}}">
        </div>
      </ion-slide>
    </ion-slide-box>
    <p>${{publicacion.productoservicio.precio}}</p>
    <p>{{publicacion.descripcion}}</p>
    <div ng-if="publicacion.productoservicio.idlocal">
      <p>Direccion: {{publicacion.productoservicio.local.direccion}} {{publicacion.productoservicio.local.numeracion}}</p>
      <p>Ciudad: {{publicacion.productoservicio.local.ciudad}}</p>
      <p>Comuna: {{publicacion.productoservicio.local.comuna}}</p>
      <p>Tamaño patio:{{publicacion.productoservicio.local.numeracion}}</p>
      <p>Tamaño recinto: {{publicacion.productoservicio.local.numeracion}}</p>
    </div>
    <div>
      <h3>Preguntas frecuentes</h3>
    </div>
    <div ng-show="empresa!=usuario">
      <button ng-click="cotizar(publicacion)" class="button button-block button-positive">
        Solicitar cotización
      </button>
    </div>
    <div class="button-bar" ng-show="empresa==usuario">
      <a class="button button-positive" ng-click="ir_a(publicacion)">Editar</a>
      <a class="button button-assertive"ng-click="eliminar(publicacion)">Eliminar</a>
    </div>
    <div>
        <h3>Calificaciones</h3>
        <div ng-show="empresa!=usuario">
          <p>Ingrese un comentario</p>
          <form name="comentario">
            Calificar: <ionic-ratings style="font-size:30px;" ratingsobj='ratingsObject'></ionic-ratings>
            Descripción: <input type="text" name="descripcion" ng-model="descripcion" required>
            <button type="button" class="button button-block button-positive" ng-click="submit(descripcion)">Agregar comentario</button>
          </form>
        </div>
        <div class="list card" ng-repeat='calificacion in calificaciones'>
          <div class="item item-body">
            <p class="item item-divider">{{calificacion.usuario.nombre}}</p>
            <p>{{calificacion.fecha}}</p>
            <p class="item item-text-wrap">{{calificacion.calificacion}}
              <ion-icon icon-on="ion-ios-star" name="star"></ion-icon><br/>
              {{calificacion.descripcion}}
            </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
